

<div class="shoe-container">
    {{#each shoes}}
    <div class="shoe-card">
        <img src="{{image}}" alt="{{name}}">
        <h4>{{name}}</h4>
        <p>Price: {{price}}</p>
        <p>Availability: <span class="stock">{{availability}}</span></p>
        <button class="add-to-cart">Add to Cart</button>
    </div>
    {{/each}}
</div>